 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/pixel-jeff-clipa-s.gif");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 841px;
}

.u-section-1 .u-text-1 {
  margin: 239px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 300;
  margin: 259px 995px 0 -80px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 895px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 785px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 695px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 595px;
  }
}